.search-input, 
.search-button {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #D9D9D9;
    border: none;
    box-sizing:  border-box;
}

.search-input {
    text-indent: 10%;
}

.search-input:focus {
    outline: none;
}


.search-container {
    display: flex;
    align-items: center;
}

.search-icon,
.search-icon-input {
    width: 20px;
    height: 20px;  
}

.search-icon-input {
    margin-left: -35px;
}
