
:root {
  --pantone:  #FF5F04;
  --night: #0D0F0E;
  --gamboge: #F59D00;
  --eerie-black: #252525;
  --black: #020202;
  --tawny: #D65A00;
  --fluorescent: #00F5F3;
  --light-sea: #00A8A7;
  --jet: #2B2B2B;
  --rust: #A83E00;
  --persimmon: #F55A00;
  --caribbean: #006D6D;
  --platinum: #E7E3E2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


