.loading-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


.loading-icon-container{
    font-size: 50px;
    color:  white;
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}