header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
}
.header-item{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    font-family: Sansation;
}
.header-item > a{
    text-decoration: none;
}