.feedback-button{
    width: 25px;
    height: 100px;
    background-color: var(--tawny);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-button-text{
    rotate: -90deg;
    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none;
    cursor: pointer;
}
.feedback-container{
    position: fixed;
    display: flex;
    height: 280px;
    right: 0;
    top: 50%;
    bottom: 50%;
    width: auto;
    z-index: 10;
}
.feedback-form-container{
    width: 310px;
    height: 280px;
    background-color: var(--gamboge);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.feedback-email-input{
    height: 30px;
}
.feedback-input{
    width: 269px;
    border: none;
    box-sizing: border-box;
    padding: 7px 0 8px 10px;
    font-size: 12px;
}
.feedback-input:focus{
    outline: 0;
}
.feedback-description-input{
    height: 179px;
    resize: none;
}
.feedback-submit-button{
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background-color: var(--tawny);
    width: 269px;
    height: 30px;
    cursor: pointer;
}
.feedback-submit-button:hover{
    background-color: #be4f00;
}
.feedback-submit-button:active{
    background-color: #ad4800;
}