.feedback-button{
    width: 25px;
    height: 100px;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 50%;
    bottom: 50%;
    background-color: var(--tawny);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-button-text{
    rotate: -90deg;
    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none;
    cursor: pointer;
}